*{
    font-family: montserrat;
}

body{
    background: #f1fbff;

}

.logo{
    height: 100px;
    width: 100px;
    margin-left: 0px;
}
.logoName{
    margin-right: 0px;
    font-weight: 400;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand span{
    letter-spacing: 4px;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
}

#header{
    background: url(images/header/pexels-cottonbro-studio-4489712.jpg) top/cover no-repeat;
}

#findButton{
    justify-content: center;
    align-content: center;
}

#selectContainer{
    height: 150px;
}
#carouselContainer{
    height: 150px;
}


